import("rJava")
export(extraTrees, toRMatrix, toJavaMatrix, toJavaCSMatrix, toJavaMatrix2D, selectTrees)
S3method(predict, extraTrees)
S3method(print,   extraTrees)
S3method(extraTrees, default)


